{% extends 'scwebsite/base.html' %}
{% block content %}

    <style>
        li {
            color: black;
        }
        
        li a {
            color: blue !important;
        }
    </style>


    <section id="courses" class="wrapper style2">
        <div class="inner">
            <div>
                <div class="box">
                    <div class="content">
                        <header class="align-center">
                            <h2>Winter Internships Programme</h2>
                            <h4>Internships by Sanskrit Club</h4><br>
                        </header>
                        <div class="image fit">
                            <img src="https://dl.dropbox.com/s/yunk30ydsx01ksu/intern.jpeg?dl=0">
                        </div>

                        <p>
                            <li>Last date of application - 7 December, 2020.</li>
                            <li>Apply <a href="https://tiny.cc/intern20-21" target="_blank">here</a>.</li>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}