{% extends 'scwebsite/base.html' %}


{% block tab5 %}
Research Articles<br>
शोध-लेखाः
{% endblock %}


{% block content %}


    <style>
        li {
            color: black;
        }
        
        li a {
            color: blue !important;
        }
    </style>

    <!-- Online Course -->
    {%for i in shaastra%}
    <section id="courses" class="wrapper style2">
        <div class="inner">
            <div>
                <div class="box">

                    <div class="content">
                        <header class="align-center">
                            <h2>{{ i.0 }}</h2>
                            <h4>{{ i.1 }}</h4><br>
                        </header>
                        <p>{{ i.2|safe }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {%endfor%}

{% endblock %}