{% extends 'scwebsite/base.html' %}


{% block tab1 %}
Home<br>
गृहं
{% endblock %}


{% block content %}

<div class="inner">
          
					<section>
						<div class="box">
							<div class="content">

      <p class="footer_p">Present Members</p>

            <div class="team">
              <div id="teamwork">
                <img src="images/teams/Present/anil sir_faculty adviser.jpg" style="width:100%;height: 12em;">
                 <div style="width:100%;height: 12em;background-image: linear-gradient(orange, yellow);padding: 1em;">
                 <h1 style="font-size: 1.8em;text-align: center;">Prof. Anil Gourishetty</h1>
                 <p style="text-align: center;">Faculty Advisor</p><br>
                </div>
             </div>
            </div>

           <div class="team">
              <div id="teamwork">
                <img src="images/teams/Present/Abhilash_.jpg" style="width:100%;height: 12em;">
                 <div style="width:100%;height: 12em;background-image: linear-gradient(orange, yellow);padding: 1em;">
                 <h1 style="font-size: 2.5em;text-align: center;">Abhilash</h1>
                 <p style="text-align: center;">Executive Member</p><br>
                </div>
             </div>
            </div>

            <div class="team">
              <div id="teamwork">
                <img src="images/teams/Present/Nikunj.jpg" style="width:100%;height: 12em;">
                 <div style="width:100%;height: 12em;background-image: linear-gradient(orange, yellow);padding: 1em;">
                 <h1 style="font-size: 2.5em;text-align: center;">Nikunj</h1>
                 <p style="text-align: center;">Executive Member</p><br>
                </div>
             </div>
            </div>

            <div class="team">
              <div id="teamwork">
                <img src="images/teams/Present/Pratigya.jpg" style="width:100%;height: 12em;">
                 <div style="width:100%;height: 12em;background-image: linear-gradient(orange, yellow);padding: 1em;">
                 <h1 style="font-size: 2.5em;text-align: center;">Raghudev</h1>
                 <p style="text-align: center;">Executive Member</p><br>
                </div>
             </div>
            </div>

						<div class="team">
              <div id="teamwork">
                <img src="images/teams/Present/Prasiddha.jpg" style="width:100%;height: 12em;">
                 <div style="width:100%;height: 12em;background-image: linear-gradient(orange, yellow);padding: 1em;">
                 <h1 style="font-size: 2.5em;text-align: center;">Prasiddha</h1>
                 <p style="text-align: center;">Executive Member</p><br>
                </div>
             </div>
            </div>

						<div class="team">
              <div id="teamwork">
                <img src="images/teams/Present/Bhaskar.jpg" style="width:100%;height: 12em;">
                 <div style="width:100%;height: 12em;background-image: linear-gradient(orange, yellow);padding: 1em;">
                 <h1 style="font-size: 2.5em;text-align: center;">Bhaskar</h1>
                 <p style="text-align: center;">Executive Member</p><br>
                </div>
             </div>
            </div>

						<div class="team">
              <div id="teamwork">
                <img src="images/teams/Present/Anjali.jpg" style="width:100%;height: 12em;">
                 <div style="width:100%;height: 12em;background-image: linear-gradient(orange, yellow);padding: 1em;">
                 <h1 style="font-size: 2.5em;text-align: center;">Anjali</h1>
                 <p style="text-align: center;">Executive Member</p><br>
                </div>
             </div>
            </div>

            <div class="team">
              <div id="teamwork">
                <img src="images/teams/Present/Mohak.jpeg" style="width:100%;height: 12em;">
                 <div style="width:100%;height: 12em;background-image: linear-gradient(orange, yellow);padding: 1em;">
                 <h1 style="font-size: 2.5em;text-align: center;">Mohak</h1>
                 <p style="text-align: center;">Executive Member</p><br>
                </div>
             </div>
            </div>

            <div class="team">
              <div id="teamwork">
                <img src="images/teams/Present/Radheesh.jpeg" style="width:100%;height: 12em;">
                 <div style="width:100%;height: 12em;background-image: linear-gradient(orange, yellow);padding: 1em;">
                 <h1 style="font-size: 2.5em;text-align: center;">Radheesh</h1>
                 <p style="text-align: center;">Executive Member</p><br>
                </div>
             </div>
            </div>

            <div class="team">
              <div id="teamwork">
                <img src="images/teams/Present/Janhavi.jpeg" style="width:100%;height: 12em;">
                 <div style="width:100%;height: 12em;background-image: linear-gradient(orange, yellow);padding: 1em;">
                 <h1 style="font-size: 2.5em;text-align: center;">Janhavi</h1>
                 <p style="text-align: center;">Executive Member</p><br>
                </div>
             </div>
            </div>

            <div class="team">
              <div id="teamwork">
                <img src="images/teams/Present/Shubham.jpg" style="width:100%;height: 12em;">
                 <div style="width:100%;height: 12em;background-image: linear-gradient(orange, yellow);padding: 1em;">
                 <h1 style="font-size: 2.5em;text-align: center;">Shubham</h1>
                 <p style="text-align: center;">Executive Member</p><br>
                </div>
             </div>
            </div>

		<p class="footer_p">Alumni</p>

						<div class="team">
						<div id="teamwork">
							<img src="images/teams/Alumni/Sonali_face.jpg" style="width:100%;height: 12em;">
							 <div style="width:100%;height: 12em;background-image: linear-gradient(orange, yellow);padding: 1em;">
							 <h1 style="font-size:2.5em;text-align: center;">Sonali</h1>
							 <p style="text-align: center;">Alumnus</p><br><br>
							 </div>
						</div>
            </div>
            <div class="team">
              <div id="teamwork">
                <img src="images/teams/Alumni/Ravi.jpg" style="width:100%;height: 12em;">
                 <div style="width:100%;height: 12em;background-image: linear-gradient(orange, yellow);padding: 1em;">
                 <h1 style="font-size: 2.5em;text-align: center;">Ravi</h1>
                 <p style="text-align: center;">Alumnus</p><br>
                </div>
             </div>
            </div>

						<div class="team">
						<div id="teamwork">
							<img src="images/teams/Alumni/Gargi_face.jpg" style="width:100%;height: 12em;">
							 <div style="width:100%;height: 12em;background-image: linear-gradient(orange, yellow);padding: 1em;">
							 <h1 style="font-size:2.5em;text-align: center;">Gargi</h1>
							 <p style="text-align: center;">Alumnus</p><br><br>
							</div>
						</div>
						</div>

						<div class="team">
						<div id="teamwork">
						<img src="images/teams/Alumni/Mrigank_face.jpg" style="width:100%;height: 12em;">
						 <div style="width:100%;height: 12em;background-image: linear-gradient(orange, yellow);padding: 1em;">
						 <h1 style="font-size:2.5em;text-align: center;">Mrigank</h1>
						 <p style="text-align: center;">Alumnus</p><br>
						</div>
						</div>
						</div>

						<div class="team">
						<div id="teamwork">
						<img src="images/teams/Alumni/Anula_face.jpg" style="width:100%;height: 12em;">
						 <div style="width:100%;height: 12em;background-image: linear-gradient(orange, yellow);padding: 1em;">
						 <h1 style="font-size:2.5em;text-align: center;">Anula</h1>
						 <p style="text-align: center;">Alumnus</p><br>
						</div>
						</div>
						</div>

						<div class="team">
						<div id="teamwork">
						<img src="images/teams/Alumni/Eklavya_face.jpg" style="width:100%;height: 12em;">
						 <div style="width:100%;height: 12em;background-image: linear-gradient(orange, yellow);padding: 1em;">
						 <h1 style="font-size:2.5em;text-align: center;">Eklavya</h1>
						 <p style="text-align: center;">Alumnus</p><br>
						</div>
						</div>
						</div>

						<div class="team">
              <div id="teamwork">
                <img src="images/teams/Alumni/Mihir.jpg" style="width:100%;height: 12em;">
                 <div style="width:100%;height: 12em;background-image: linear-gradient(orange, yellow);padding: 1em;">
                 <h1 style="font-size: 2.5em;text-align: center;">Mihir</h1>
                 <p style="text-align: center;">Alumnus</p><br>
                </div>
             </div>
            </div>

          <br>

{% endblock %}